
<% if signed_in? %>
<style type="text/css">

.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506693479/2broom2_d7gu5a.jpg);
  background-position:center;
  min-height: 200px;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

  .navbar-light .navbar-brand1{
font-size: 13px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506693479/2broom2_d7gu5a.jpg);
  background-position:center;
  height: auto;
  padding-bottom: 100px;
}

.innerctact{
  background-color: #ddd;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  min-height: 200px;
  padding: 5px;
  margin-bottom: 20px;
}

.mobilefonthp{
  font-size: 25px;
}


}

</style>


<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);" class="mobilefonthp">Welcome to your Dashboard, <%= current_user.firstname %></h1>
        <p style="text-align: center; color: white; position: relative; top: 70px; font-weight: 300;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">From here, you should be able to see all your projects and manage them from here. Kindly view your project(s) below.</p>
      </div>
    </div>
  </div>
</section>

<section class="projectssection">

<div class="container">
  <div class="row">
    <% if @usersprojects.any? %>
     <%= render @usersprojects %>
     <% else %>
     <div class="col-lg-12">
      <div style="width: 100%; padding: 20px">
     You do not have any projects assigned to you.
      </div>
     </div>
     <% end %>
  </div>
</div>

</section>

<% else %>

 <style type="text/css">

  a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

  .navbackground{
    background-color: transparent;
  }

  .meffect{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
}

.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}




.navbar-light .navbar-brand1{

font-weight: 700;
font-family: 'Poppins', sans-serif;

}

.navbar-scroll{
color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffcc00;
  font-weight: 300;
  font-family: 'Asap Condensed', sans-serif;
  transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffcc00;
  font-weight: 700;
  border-bottom-color:#ffcc00;
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #ffcc00;
  font-weight: 700;
  border-bottom-color: #ffcc00;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffcc00;
  font-weight: 500;
  border: 4px solid #ffcc00;
  padding: 5px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 100px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

hr.worksdivider{
  height: 5px;
  background-color: #ffcc00;
  width: 15%;
}

.famwantyou{
  height:560px;
  background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0.1)),url(http://res.cloudinary.com/nikasemo/image/upload/v1506587500/shutterstock_343468046_ffkoef.jpg);
  background-size:cover;
}

.previtemcont{
  width: 200px;
  height: 200px;
 
  margin-top: 20px;
  margin-right: 10px;
  overflow: hidden;
}

.zoomin img {
  height: 110px;
  width: 110px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.zoomin img:hover {
  width: 180px;
  height: 180px;
}

.mainvps{
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-family: 'Asap Condensed', sans-serif;
}

.famwantyousecthome{
  font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 60px; 
  text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
  position: relative;
  top: 180px;
  margin-left: 100px;
}

.famwantyousecthome2{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  position: relative;
  top: 190px;
  margin-left: 100px;
  color: #ffffff;
}

.actreadm{
   position: relative;
  top: 200px;
  margin-left: 100px;
}

.image-box{
  width:100%;
  overflow:hidden;
}
.image {
  width:100%;
  height:400px;
  margin-bottom: 30px;
  background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506693479/2broom2_d7gu5a.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image1 {
  width:100%;
  height:400px;
  margin-bottom: 30px;
  background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506693479/3broom_loiygc.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image1:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image2 {
  width:100%;
  height:400px;
  margin-bottom: 30px;
  background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1506693479/4broom_yngzpx.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image2:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.housedescribe{
  text-align: center;
}

.housedescribe a{
  text-align: center; 
  position:relative; 
  top: 200px;
  font-size: 18px;
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
  letter-spacing: 2px;
}

.innerctact{
  background-color: #ddd;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  min-height: 200px;
  padding: 5px;
  margin-bottom: 20px;
}

.innerctact:hover{
-webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
}

.foothead{
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

.capttxt{
  font-family: 'Righteous', cursive; font-size: 60px; text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.capttxt{
  font-family: 'Righteous', cursive; font-size: 35px; text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
}

 .navbackground{
    background-color: #ffffff;
  }

  .navbar-light .navbar-brand1{
font-size: 13px;
font-weight: 700;
font-family: 'Poppins', sans-serif;

}

   a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.facyyt{
  font-size: 25px;
  text-align: center;
}

.famwantyousecthome{
  font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 35px; 
  text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
  position: relative;
  top: 150px;
  margin-left: 20px;
}

.famwantyousecthome2{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  position: relative;
  top: 160px;
  margin-left: 20px;
  color: #ffffff;
}

.carousel-caption {
  position: absolute;
  right: 10%;
  bottom: 50px;
  left: 10%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.actreadm{
   position: relative;
  top: 170px;
  margin-left: 20px;
}

}

  </style>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top navbackground">
      <div class="container">
        <a class="navbar-brand1" href="/" style=""><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506811592/wehlogo1_gpahlu.png" style="height: 100%; margin-right:5px;">
          <span style="position:relative; top: 5px;">Wehnuem Gated Community</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vision">Vision</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Client Area</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/homes/new">Home Application</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
<% if notice %>
<div class="alert alert-success alert-dismissible" role="alert" style="position: absolute; top: 100px; z-index: 99999;>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="notice"><%= notice %></p>
</div>
<% end %>
 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1506804677/shutterstock_115010164_qmamyl.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">A Serene environment that breeds Success.</h3>
              <hr class="worksdivider">
              <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Located in the fauna rich area in Kumasi, this natural environment provides Sereneness for growth and mindless relaxation.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1506805932/houseshutterstock_kbdmqp.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="">British Housing style brought to Ghana.</h3>
              <hr class="worksdivider">
              <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Our Houses are equipped with the most modern facilities that will make you and your kids want more of home.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background-image: url('http://res.cloudinary.com/nikasemo/image/upload/v1506587500/shutterstock_343468046_ffkoef.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Provide a Home to raise your Kids</h3>
              <hr class="worksdivider">
              <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Houses at Wehnuem are furnished with state of the art facilities that will ensure your family enjoys proper treatment while growing in wisdom.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1506806931/shutterstock_427455487_reuqvf.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt">Our client area puts you in control.</h3>
              <hr class="worksdivider">
              <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">Get updated in real time work progress on your site and share ideas and reccomendations on your project.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1 class="js-reveal facyyt" style="font-family: 'Poppins', sans-serif;">Our facilities protect you and keeps you connected.</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-6 col-lg-2">
            <div class="previtemcont zoomin">
              <p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506813165/cctv_emvl0n.jpg" class="img-responsive" width="110px" height="110px"></p>
              <p class="mainvps">24 hour CCTV surveilance</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="previtemcont zoomin">
              <p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506813165/digitalentry_qaggxl.jpg" class="img-responsive" width="110px" height="110px"></p>
               <p class="mainvps">Digital Entry</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="previtemcont zoomin">
              <p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506813165/wifirouter_j2w7bw.jpg" class="img-responsive" width="110px" height="110px"></p>
               <p class="mainvps">Free Community Wifi</p>
            </div>
          </div>
           <div class="col-sm-6 col-lg-2">
            <div class="previtemcont zoomin">
              <p style="text-align: center;"><img src="http://res.cloudinary.com/nikasemo/image/upload/v1506813165/genset_ovcuc1.jpg" class="img-responsive" width="110px" height="110px"></p>
               <p class="mainvps">StandBy Generator</p>
            </div>
          </div>
           <div class="col-sm-6 col-lg-2">
            <div class="previtemcont zoomin">
              <p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1506813165/learnarea_qlawvm.jpg" class="img-responsive" width="110px" height="110px"></p>
               <p class="mainvps">Learning Area</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="famwantyou">
  <h3 class="famwantyousecthome js-reveal">Live in Calmness and<br>Serenity.</h3>
  <p class="famwantyousecthome2 js-reveal">Houses at Wehnuem are furnished with state of the art facilities that<br>will ensure your family enjoys proper treatment.</p>
  <p style="text-align"><a href="/vision" class="btn btn-primary btn-lg actreadm js-reveal">Read More</a></p>
    </section>

    <section class="py-5">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center;" class="js-reveal">At Wehnuem, we have Houses for everyone!</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300;" class="js-reveal">At Wehnuem, we believe Quality never goes out of style Our houses for all family sizes. Whether you have a abig or small family, we've got you covered. Houses that will last for a very very long time.</p>
          </div>
        </div>
      </div>
    </section>

     <section class="js-reveal" style="padding-right: 20px; padding-left:20px;">
      <div class="row">
      <div class="col-sm-4 zoomimgbg1">
       <div class="image-box">
  <div class="image">
    <h3 class="housedescribe">
    <a href="/twobedroom" style="text-decoration:none;">2 Bedroom House</a>
    </h3>
  </div>
</div>
      </div>
      <div class="col-sm-4 zoomimgbg2">
       <div class="image-box">
  <div class="image1">
    <h3 class="housedescribe" style="">
    <a href="/threebedroom" style="text-decoration:none;">3 Bedroom House</a>
    </h3>
  </div>
</div>
      </div>
      <div class="col-sm-4 zoomimgbg3">
       <div class="image-box">
  <div class="image2">
    <h3 class="housedescribe" style="">
    <a href="/fourbedroom" style="text-decoration:none;">4 Bedroom House</a>
    </h3>
  </div>
</div>
</div>
</div>
      </div>
     </section>

     <section class="py-5" style="background-color: #f2f2f2;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center;" class="js-reveal">World Class Accomodation</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; text-align: center;" class="js-reveal">Facilities we provide at Wehnuem are world class standard. We dont fuss about it.
            Our Goal is that people will have peace of mind in their homes while they are pursuing their purpose in life. That's even more important tto us than anything</p>
            <p style="text-align: center;"><a href="/about" class="btn btn-primary btn-lg" class="js-reveal">More About Us</a></p>
          </div>
        </div>
      </div>
    </section>

     <section class="py-5" style="background-color: #ffffff;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: left;" class="js-reveal">Needful of Something?</h1>
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; text-align: left;">Facilities we provide at Wehnuem are world class standard. We dont fuss about it.</p>
           
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
              <br>
              <p style="text-align: center;"><i class="fa fa-home fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="/homes/new" style="color: #4d4d4d; text-decoration:none;">Home Application</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">Apply for a house Today!</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
               <br>
              <p style="text-align: center;"><i class="fa fa-facebook fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="" style="color: #4d4d4d; text-decoration:none;">Facebook</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">Get help via facebook</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
              <br>
              <p style="text-align: center;"><i class="fa fa-phone fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="/contacts/new" style="color: #4d4d4d; text-decoration:none;">Call/Email Us</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">We are available 24/7 to respond to you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <div class="row">
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="/about" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Overview</a></li>
            <li><a href="/vision" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Our Vision and Mission</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">House and Application</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="/twobedrom" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Two Bedroom House</a></li>
            <li><a href="/threebedroom" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Three Bedroom House</a></li>
            <li><a href="/fourbedroom" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Four Bedroom House</a></li>
            <li><a href="/homes/new" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Home Application</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Support</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="/contacts/new" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Contact Us</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQ's</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
             <h5 class="foothead">Visit Our Social Media</h5>
             <span><a href=""><i class="fa fa-facebook-official fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-twitter-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-instagram fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-google-plus-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Wehnuem Gated Community, 2017</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   
    

<% end %>

 
        