<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

<style type="text/css">

.bodyhold {
	background: url("https://res.cloudinary.com/nikasemo/image/upload/v1556271802/houseshutterstock_kbdmqp_copy_qbmvy2.jpg");
}
	
.holdformhere {
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
}


</style>

<body class="bodyhold">
<div class="container">
	<div class="row justify-content-center" style="margin-top: 80px; margin-bottom: 40px;">
  		<div class="col-md-6 col-md-offset-3">

  			<div class="holdformhere">

					<h4 style="text-align: center; color: #358504; font-family: 'Bree Serif', serif;">Book your call Appointment with Us!</h4>
					<p style="text-align: center; font-weight: 300; font-size: 18px;">
					Book a call appointment with us so that we can tell you more about ourselves, what we are doing and how we may be able to bring you great value.
					</p>	
					<%= render 'form', lead: @lead %>

			</div>

		</div>
	</div>
</div>
</body>
