<h2>Personal Information</h2>
  <div class="form-group">
    <label>Firstname</label>
    <input type="text" name="home[firstname]" id="home_firstname" type="text" value="" class="form-control" />
</div>
  

  