<h2 style="font-family: 'Poppins', sans-serif; font-weight: 700; text-align: center;">Personal Information</h2><br>
  <div class="form-group">
    <label>First name</label>
    <input type="text" name="home[firstname]" id="home_firstname" type="text" value="" class="form-control" />
 </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" name="home[lastname]" id="home_lastname" type="text" value="" class="form-control" />
 </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="home[email]" id="home_email" type="text" value="" class="form-control" />
 </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" name="home[phonenumber]" id="home_phonenumber" type="text" value="" class="form-control" />
 </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" name="home[location]" id="home_location" type="text" value="" class="form-control" />
 </div>
  

  