<style type="text/css">

.imageresponsive{
	width: 100%;
}

</style>


<div class="col-lg-2 col-md-12 col-sm-12" style="margin-bottom: 20px;">
 <img src="<%= photo.progessimage_url %>" class="imageresponsive" width="90px" height="90px" />
</div>