<% if signed_in? %>

<style type="text/css">

.holdformsi{
  padding: 50px;
}

.innerctact{
  background-color: #ddd;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  min-height: 200px;
  padding: 5px;
}

.innerctact:hover{
-webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.7);
}

.foothead{
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


</style>

<body>


 <section class="py-5" style="background-color: #ffffff;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: left;" class="js-reveal">Needful of Something?</h1>
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; text-align: left;">Facilities we provide at Wehnuem are world class standard. We dont fuss about it.</p>
           
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
              <br>
              <p style="text-align: center;"><i class="fa fa-home fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="" style="color: #4d4d4d; text-decoration:none;">Home Application</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">Apply for a house Today!</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
               <br>
              <p style="text-align: center;"><i class="fa fa-facebook fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="" style="color: #4d4d4d; text-decoration:none;">Facebook</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">Get help via facebook</p>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="innerctact">
              <br>
              <p style="text-align: center;"><i class="fa fa-phone fa-3x" style="color: #4d4d4d;" aria-hidden="true"></i></p>
              <p style="text-align: center;"><a href="/contacts/new" style="color: #4d4d4d; text-decoration:none;">Call/Email Us</a></p>
              <p style="text-align: center; font-size: 15px; font-weight: 300; color: #808080;">We are available 24/7 to respond to you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <div class="row">
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Overview</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Our Vision and Mission</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">House and Application</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Two Bedroom House</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Three Bedroom House</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Four Bedroom House</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Home Application</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Support</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Contact Us</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQ's</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
             <h5 class="foothead">Visit Our Social Media</h5>
             <span><a href=""><i class="fa fa-facebook-official fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-twitter-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-instagram fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-google-plus-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Wehnuem Gated Community, 2017</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>

</body>


<% end %>